# Démarrage des Yarn Builder
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure chat-theme-gtao

# Démarrage Obligatoire dans cette ordre
ensure oxmysql
ensure ox_lib
ensure ox_target
ensure esx_lib
ensure es_extended

# Dossiers scripts
ensure [core]
ensure [addon]
ensure [ajout]
ensure [scripts]