# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#    Discord: https://discord.esx-framework.org/    #
#    Website: https://esx-framework.org/            #
#    CFG Docs: https://aka.cfx.re/server-commands   #
# # # # # # # # # # # # # # # # # # # # # # # # # # #   
#    Fait par: server-host >                        #
#    Discord: https://discord.com/invite/gdVc4V83pB #
#    Site   : https://server-host.fr/               #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root:@localhost:3306/es_extended"
set mysql_ui true

sv_hostname "server-host.fr"

sets sv_projectName "Server-Host.fr"
sets sv_projectDesc "Template de développement voir + d'info sur discord"

load_server_icon myLogo.png
sets banner_detail "https://i.ibb.co/Njw8N7T/350kb.gif"
sets banner_connecting "https://i.ibb.co/Njw8N7T/350kb.gif"

sets Discord "https://discord.gg/gdVc4V83pB"
sets Etat "En Développement"
sets convar_name "server-host.fr"
sets Développeur "Mime"

sets locale "fr-FR"
sets tags "esx, roleplay, deployer, rp, police, legacy, drugs, esx legacy, ems, official, cars, custom, jobs, serious, gangs, economy, discord, custom cars, lspd, serious rp, fivem, fun, seriousrp, realife, cops, racing, onesync, realistic, whitelist, fr, gang, custom scripts, customcars, mafia, mechanic, eup, vmenu, life, drifting, france, pvp, doj"

sv_scriptHookAllowed 0
sv_requestParanoia 3
sv_authMinTrust 4
#sv_endpointprivacy true
sv_forceIndirectListing false
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2

set sv_useDirectListing true
set sv_listingIpOverride ""

set onesync on
setr r_ext_streamingPoolSize 2048
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly false

sv_maxclients 10
sv_enforceGameBuild 3889

setr illenium-appearance:locale "fr"

set ox:ignoreSecurityAdvisory ["stateBagStrictMode"]

exec @vMenu/config/permissions.cfg
exec @pmms/permissions.cfg

exec resources.cfg

add_principal group.admin group.user
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

set steam_webApiKey none
sv_licenseKey ""